spring:
  application:
    name: SpringCloudApiGateway

  cloud:
    gateway:
      routes:
        - id: OrderService
          uri: lb://OrderService
          predicates:
            - Path=/orders/**

        - id: InventoryService
          uri: lb://InventoryService
          predicates:
            - Path=/inventory/**
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: ORDER-SERVICE
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/orders/**

            - id: INVENTORY-SERVICE
              uri: lb://INVENTORY-SERVICE
              predicates:
                - Path=/inventory/**



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

server:
  port: 9000
